<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Coin Meta</title>
    <script src="static/echarts.min.js"></script>
    <script src="static/jquery.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div id="link">
        <a href='/cap'>Adjusted Market Cap</a>
    </div>
    <div id="div_pick" style="width: 600px;height:400px;"></div>
    <div id="div_mmtm7" style="width: 600px;height:400px;"></div>
    <div id="div_mmtm30" style="width: 600px;height:400px;"></div>
    <!-- <div id="div_rsi" style="width: 600px;height:400px;"></div> -->
    <!-- <div id="div_dd" style="width: 600px;height:400px;"></div> -->
    <div id="div_bullbear" style="width: 600px;height:400px;"></div>

    <script type="text/javascript">
        var myChartPick = echarts.init(document.getElementById('div_pick'));
        $.get('pick_data.json').done(function (data) {
            myChartPick.setOption({
                title: {
                    text: '币种选择图 - 90d'
                },
                tooltip : {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        label: {
                            backgroundColor: '#6a7985'
                        }
                    }
                },
                legend: {
                    data:['BTC','EOS','ETH']
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis : [
                    {
                        type : 'category',
                        boundaryGap : false,
                        data : data.dt_lst
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        name:'BTC',
                        type:'line',
                        stack: '总量',
                        areaStyle: {normal: {}},
                        data: data.btc_lst
                    },
                    {
                        name:'EOS',
                        type:'line',
                        stack: '总量',
                        areaStyle: {normal: {}},
                        data: data.ltc_lst
                    },
                    {
                        name:'ETH',
                        type:'line',
                        stack: '总量',
                        areaStyle: {normal: {}},
                        data: data.eth_lst
                    }
                ]
            });
        });
    </script>

    <script type="text/javascript">
        var myChartMmtm7 = echarts.init(document.getElementById('div_mmtm7'));
        $.get('mmtm7_data.json').done(function (data) {
            myChartMmtm7.setOption({
                title: {
                    text: 'momentum - 7d'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data:['BTC','EOS','ETH']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: data.dt_lst
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name:'BTC',
                        type:'line',
                        data: data.btc_lst
                    },
                    {
                        name:'EOS',
                        type:'line',
                        data: data.ltc_lst
                    },
                    {
                        name:'ETH',
                        type:'line',
                        data: data.eth_lst
                    }
                ]
            });
        });
    </script>

    <script type="text/javascript">
        var myChartMmtm30 = echarts.init(document.getElementById('div_mmtm30'));
        $.get('mmtm30_data.json').done(function (data) {
            myChartMmtm30.setOption({
                title: {
                    text: 'momentum - 30d'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data:['BTC','EOS','ETH']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: data.dt_lst
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name:'BTC',
                        type:'line',
                        data: data.btc_lst
                    },
                    {
                        name:'EOS',
                        type:'line',
                        data: data.ltc_lst
                    },
                    {
                        name:'ETH',
                        type:'line',
                        data: data.eth_lst
                    }
                ]
            });
        });
    </script>

<script type="text/javascript">
    var myChartRsi = echarts.init(document.getElementById('div_rsi'));
    $.get('rsi_data.json').done(function (data) {
        myChartRsi.setOption({
            title: {
                text: 'RSI - 15d'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:['BTC','EOS','ETH']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: data.dt_lst
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name:'BTC',
                    type:'line',
                    data: data.btc_lst
                },
                {
                    name:'EOS',
                    type:'line',
                    data: data.ltc_lst
                },
                {
                    name:'ETH',
                    type:'line',
                    data: data.eth_lst
                }
            ]
        });
    });
    </script>

<script type="text/javascript">
        var myChartDd = echarts.init(document.getElementById('div_dd'));
        $.get('dd_data.json').done(function (data) {
            myChartDd.setOption({
                title: {
                    text: 'DownsideDeviation - 45d'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data:['BTC','EOS','ETH']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: data.dt_lst
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name:'BTC',
                        type:'line',
                        data: data.btc_lst
                    },
                    {
                        name:'EOS',
                        type:'line',
                        data: data.ltc_lst
                    },
                    {
                        name:'ETH',
                        type:'line',
                        data: data.eth_lst
                    }
                ]
            });
        });
    </script>

<script type="text/javascript">
    var myChartBullBear = echarts.init(document.getElementById('div_bullbear'));
    $.get('bullbear_data.json').done(function (data) {
        myChartBullBear.setOption({
            title: {
                text: '牛熊市'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:['牛熊市']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: data.dt_lst
            },
            yAxis: {
                type: 'value'
            },
            series : [
                {
                    name:'牛熊市',
                    type:'line',
                    data: data.bb_lst
                }
            ]
        });
    });
    </script>

</body>
</html>