<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Coin Meta</title>
    <script src="static/echarts.min.js"></script>
    <script src="static/jquery.min.js"></script>
</head>
<body>
    <div id="div_mmtm7" style="width: 600px;height:400px;"></div>
    <div id="div_mmtm15" style="width: 600px;height:400px;"></div>
    <div id="div_mmtm30" style="width: 600px;height:400px;"></div>
    <div id="div_bottom" style="width: 600px;height:400px;"></div>

    <script type="text/javascript">
        var myChart1 = echarts.init(document.getElementById('div_mmtm7'));

        $.get('mmtm7_data.json').done(function (data) {
            myChart1.setOption({
                title: {
                    text: 'momentum - 7d'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data:['BTC','LTC','ETH']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: data.dt_lst
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name:'BTC',
                        type:'line',
                        data: data.btc_lst
                    },
                    {
                        name:'LTC',
                        type:'line',
                        data: data.ltc_lst
                    },
                    {
                        name:'ETH',
                        type:'line',
                        data: data.eth_lst
                    }
                ]
            });
        });
    </script>

    <script type="text/javascript">
        var myChart2 = echarts.init(document.getElementById('div_mmtm15'));

        $.get('mmtm15_data.json').done(function (data) {
            myChart2.setOption({
                title: {
                    text: 'momentum - 15d'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data:['BTC','LTC','ETH']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: data.dt_lst
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name:'BTC',
                        type:'line',
                        data: data.btc_lst
                    },
                    {
                        name:'LTC',
                        type:'line',
                        data: data.ltc_lst
                    },
                    {
                        name:'ETH',
                        type:'line',
                        data: data.eth_lst
                    }
                ]
            });
        });
    </script>

    <script type="text/javascript">
        var myChart3 = echarts.init(document.getElementById('div_mmtm30'));

        $.get('mmtm30_data.json').done(function (data) {
            myChart3.setOption({
                title: {
                    text: 'momentum - 30d'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data:['BTC','LTC','ETH']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: data.dt_lst
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name:'BTC',
                        type:'line',
                        data: data.btc_lst
                    },
                    {
                        name:'LTC',
                        type:'line',
                        data: data.ltc_lst
                    },
                    {
                        name:'ETH',
                        type:'line',
                        data: data.eth_lst
                    }
                ]
            });
        });
    </script>

    <script type="text/javascript">
        var myChart4 = echarts.init(document.getElementById('div_bottom'));

        $.get('bottom_data.json').done(function (data) {
            myChart4.setOption({
                title: {
                    text: '-bottom?'
                },
                color: ['#3398DB'],
                tooltip : {
                    trigger: 'axis',
                    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                        type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis : [
                    {
                        type : 'category',
                        data : ['BTC', 'LTC', 'ETH'],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        type:'bar',
                        barWidth: '60%',
                        data: data.bottom_lst
                    }
                ]
            });
        });
    </script>
</body>
</html>